
storeDav:
  environment: "staging"
  # Example, password set to "univention"
  authHtpasswd: |
    portal-server:$apr1$yruGWANI$75Soiqs3hEmezu.g/r3VW/
    portal-listener:$apr1$6kadQ4Ji$hHriD5fpBJyf00SIy.NG41

image:
  registry: "local"
  repository: "store-dav"
  pullPolicy: "IfNotPresent"
  tag: "latest"

ingress:
  enabled: true
  host: "localhost"
  tls:
    enabled: false

## Istio based
istio:
  host: "localhost"
  enabled: false
